<p>
  <strong>Title:</strong>
  <%= @micropost.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user.name %>
</p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @micropost.pic.url(:medium) %>
</p>


<h2>Comments</h2>
<%= render @micropost.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 

<% if @micropost.user == current_user %>
	<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<% end %>
<%= link_to 'Back', microposts_path %>
