<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%= favicon_link_tag '/favicon.ico' %>
    <!-- Web App Settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-retina.png" />
    <link rel="apple-touch-startup-image" href="/apple-touch-startup-image.png" media="(orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="/apple-touch-startup-image.png" media="(orientation:landscape)" />

    <title>FamFam</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <script>
      addToHomescreen();
    </script>
  </head> 

  <body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <div class = "fixed">
        <nav class="tab-bar" data-tabbar role="navigation">
          <div class = "row">
            <div class ="small-3 columns text-left">
              <a class="left-off-canvas-toggle menu-icon" href="#" role="button"><span></span></a>
            </div>

            <div class ="small-6 columns text-center">
              <div class = "title"><%= link_to 'FamFam <i class="fa fa-smile-o"></i>'.html_safe, root_url %></div>
            </div>

            <div class ="small-3 columns text-right">
              <%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, new_micropost_path %>
            </div>
          </div>
        </nav>
      </div>

      <aside class="left-off-canvas-menu" id="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <% if user_signed_in? %>
            <li><label><%= current_user.email %></label></li>
            <li> <%= link_to "Edit your information", edit_user_registration_path %> </li>
            <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>

            <li> <label> Your Family Members </label> </li>
            <% @users_all.each do |user| %>
              <!-- <li> <a href="/users/<%= user.id%>"> <%= user.name %> </a> -->
              <li> <%= link_to user.name, user %></li>
            <% end %> 
          <% else %>
            <li> <label> Not logged in </label> </li>
            <li>  <%= link_to('Login', new_user_session_path)  %>  </li>
          <% end %>

        </ul>
      </aside>


      <section class="main-section">
        <div class = "inner-wrapper">
          <div class = "row">
            <div class = "small-12 medium-10 large-8 small-centered columns">
              <% if notice != nil %>
                <div data-alert class="alert-box info radius"><%= notice %>
                <a href="#" class="close">&times;</a>
                </div>
              <% end %>
              <% if alert != nil %>
                <div data-alert class="alert-box info radius"><%= alert %>
                <a href="#" class="close">&times;</a>
                </div>
              <% end %>
            </div>
          </div>
          <%= yield %>
          <%= javascript_include_tag "application" %>
        </div>
      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>
  </body>
</html>